:root {
  --ss-background: #FAF2EA;
  --ss-surface: #FFFCF9;
  --ss-chrome: #EADFD6;
  --ss-foreground: #0D0B08;
  --ss-muted-foreground: #544F4A;
  --ss-chrome-foreground: #0D0B08;
  --ss-border: #C4B8AE;
  --ss-primary: #175B3B;
  --ss-primary-foreground: #FFFBF8;
  --ss-accent: #036D62;
  --ss-accent-foreground: #FFFBF8;
  --ss-focus: #175B3B;
  --ss-success: #006425;
  --ss-success-foreground: #FFFBF8;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FFFBF8;
  --ss-danger: #902824;
  --ss-danger-foreground: #FFFBF8;
  --ss-primary-50: #E9FFF1;
  --ss-primary-100: #CAF8DC;
  --ss-primary-200: #B4E5C8;
  --ss-primary-300: #98CCAD;
  --ss-primary-400: #75AD8D;
  --ss-primary-500: #569271;
  --ss-primary-600: #3D7A59;
  --ss-primary-700: #296245;
  --ss-primary-800: #12482E;
  --ss-primary-900: #002F1A;
  --ss-primary-950: #00170A;
  --ss-accent-50: #E5FFFA;
  --ss-accent-100: #BFF9EE;
  --ss-accent-200: #A8E6DB;
  --ss-accent-300: #8ACDC1;
  --ss-accent-400: #65AEA2;
  --ss-accent-500: #429387;
  --ss-accent-600: #247B70;
  --ss-accent-700: #096359;
  --ss-accent-800: #004840;
  --ss-accent-900: #002E28;
  --ss-accent-950: #001613;
}
